body {
    background-image: url("images/bg-intro-desktop.png");
    background-color: #ff7978;
    background-repeat: no-repeat;
}


.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
}

.description {
    color: white;
    float: left;
}

.sign-up {
    /* max-width: 500px;
    min-width: 500px; */
}

.fields{
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.trial {
    background-color: #6053c6;
    border-radius: 5px;
    text-align: center;
    font-size: large;
}